@import "./variables.scss";

h1 {
  color: $--font--color
}
.App {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-header {
    color: yellow
  }
}